.signupWrapper{
    display:flex;
    justify-content: center;
}

.signupCard{
    width: 27vw;
    margin-top: 5%;
}

.register-logo{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.register-logo img{
    width: 15vw;
}

@media only screen and (max-width:620px){
    .signupCard{
        width: 60%;
    }
    .register-logo img{
        width: 35%;
    }
}